services:
  database:
    image: 'postgres:9-alpine'
    ports:
      - 15432:5432
    env_file:
      - .env.docker
    networks:
      - postgres-network
    volumes:
      - ${PWD}/.db/db-data/:/var/lib/postgressql/data
      - ${PWD}/.db/init.sql:/docker-entrypoint-initdb.d/init.sql

networks:
  postgres-network:
    driver: bridge